@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Uiyeun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://pbs.twimg.com/media/EcUqZRBU4Acxzx1.jpg:large") center/cover no-repeat;
}

#container {
  width: 450px;
  border: 4px solid #ac5f32;
  border-radius: 18px;
  box-shadow: 0 0 8px #ccc;
  padding: 20px;
  background: #fff;
}
#container .day1 {
  text-align: center;
  font-family: "Ownglyph_ParkDaHyun";
}
#container .day1 h3 {
  font-size: 3.2rem;
  font-weight: normal;
  color: #ac5f32;
}
#container .day1 .accent span {
  font-size: 4rem;
  font-weight: bold;
  color: #222;
}
#container .bar {
  width: 100%;
  height: 40px;
  background: #cf865b;
  color: #fff;
  margin: 20px 0;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 8px;
  line-height: 40px;
}
#container .day2 {
  width: 100%;
  font-family: "Uiyeun";
}
#container .day2 ul {
  height: 60px;
  border-bottom: 1px dashed #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
}
#container .day2 ul .item-title {
  padding-left: 20px;
}
#container .day2 ul .item-date {
  padding-right: 20px;
  color: #ac5f32;
}