$color: (
  light: #fff,
  dark: #000,
  theme-color: #55b2e4,
  accent-color: #dc143c,
  gray-color: #808080,
  border: #ddd,
  button: #f6f6f6,
  result: #ff0,
  artist: #002983,
  table: #eee,
  pink: #ee619c,
);
