* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: arial;
  background: url("/bacl.jpg") center/cover no-repeat;
}

:root {
  --light-color: #fff;
  --dark-color: #000;
  --border-color: #ccc;
  --accent-color: #dc143c;
  --main-color: #00d1e0;
  --main2-color: #61d4e4;
  --back-color: #f0f6f7;
  --gray-color: #808080;
}
