* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: url("/bluesky.jpg") center/cover no-repeat;
}

:root {
  --light-color: #fff;
  --dark-color: #08375c;
  --border-color: #b8b8b8;
  --accent-color: #0060b9;
  --accent1-color: #7dc0ff;
  --accent2-color: #f3f9fc;
  --footer-color: #8d8d8d;
}
