.container {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  border-bottom: 1px solid var(--border-color);
  &:hover {
    background: var(--accent2-color);
  }
  & > div {
    & > .title {
      font-weight: 700;
    }
    & > .subTitle {
      font-size: 1.4rem;
    }
    & > .author {
      color: var(--footer-color);
      font-size: 1.2rem;
      margin-top: 20px;
    }
  }
}
