.modal {
  width: 80%;
  margin: 40px auto 0;
  max-width: 560px;
  padding: 20px;
  border: none;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  .modal-content {
    flex: 1;
    max-height: 100%;
    overflow-y: auto;
    padding-right: 10px;
    scrollbar-gutter: stable;
  }
}
