@import "./styles/reset.scss";
@import "./styles/variables.scss";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#plus {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: url("https://i.pinimg.com/originals/91/81/c9/9181c9f4c8be64b432a86d560fedf208.gif")
    center/cover no-repeat;
  opacity: 0.3;
  // z-index: 1;
}
#plus2 {
  position: absolute;
  z-index: 1;
  bottom: -70px;
  right: -40px;
  img {
    width: 150px;
  }
}

#container {
  height: 100vh;
  background: url("https://i.pinimg.com/originals/1d/32/cd/1d32cdd59cc31aa291ba4f46e7a854ed.gif")
    center/cover no-repeat;
  // https://i.pinimg.com/originals/48/14/ca/4814ca1161aec7a4d15f4e43b856ad9d.gif
  // https://i.pinimg.com/originals/21/84/c3/2184c317c7a4f1b5428048acf6d04e5e.gif
  // https://i.pinimg.com/originals/7a/1d/41/7a1d41ee92b7b986f13ab89428f3cb8f.gif
  //https://i.pinimg.com/originals/53/f0/e7/53f0e71f528d032ca2e64b9e76037282.gif
  //https://i.pinimg.com/originals/1d/32/cd/1d32cdd59cc31aa291ba4f46e7a854ed.gif
  display: flex;
  justify-content: center;
  align-items: center;
  #outer {
    width: 807px;
    height: 544px;
    background: url(./contents/diarycover.png) center/cover no-repeat;
    position: relative;
    #inner {
      display: flex;
      padding: 36px;
    }
  }
}

/*=== inner-left ===*/
#inner-left {
  position: relative;
  width: 203px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  .inner-left-header {
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    .zero {
      color: map-get($map: $color, $key: accent-color);
    }
  }
  .inner-left-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid map-get($map: $color, $key: gray-color);
    border-radius: 14px;
    padding: 20px 26px 26px;
    background: #f8e8ee;
    .left-body-title {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title-img {
        width: 148px;
        height: 133px;
        background: url("https://i.pinimg.com/originals/b6/6a/95/b66a954ee291e784780aa233d81b5267.gif")
          center/cover no-repeat;
      }
      .title-line {
        width: 100%;
        margin: 12px 0;
        border-top: 1px dotted map-get($map: $color, $key: main-dark-color);
      }
    }
    .left-body-profile {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .profile-detail {
        display: flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
        i {
          color: map-get($map: $color, $key: pink);
        }
        .detailInfo {
          span {
            color: map-get($map: $color, $key: pink);
            font: bold 1.4rem/1 "arial";
          }
          p {
            font-size: 1.2rem;
          }
        }
      }
    }
    .left-body-footer {
      position: absolute;
      bottom: 20px;
      .footer-feel {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .feel-title {
          font-size: 1.6rem;
          font-weight: bold;
        }
        form {
          width: 100%;
          select {
            width: 100%;
            height: 20px;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

/*=== inner-right ===*/
#inner-right {
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  .inner-right-header {
    display: flex;
    justify-content: space-between;
    color: map-get($map: $color, $key: theme-color);
    .header-title {
      font-weight: bold;
    }
    .header-privacy {
      font-size: 1.4rem;
    }
  }
  .inner-right-body {
    width: 100%;
    height: 445px;
    border: 1px solid map-get($map: $color, $key: gray-color);
    border-radius: 14px;
    background: map-get($map: $color, $key: light);
    iframe {
      width: 100%;
      height: 100%;
      border: none;
      border-radius: 8px;
    }
  }
}

/*=== navigation ===*/
#navigation {
  width: 70px;
  height: 110px;
  position: absolute;
  top: 20%;
  right: -69px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navigation-item {
    background: map-get($map: $color, $key: theme-color);
    color: map-get($map: $color, $key: light);
    text-align: center;
    line-height: 30px;
    border: 2px solid map-get($map: $color, $key: dark);
    border-radius: 0 10px 10px 0;
    font-size: 1.6rem;
    cursor: pointer;
  }
}
