* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #container {
  width: 550px;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}
body #container h1 {
  margin-bottom: 50px;
}
body #container form {
  width: 100%;
  display: flex;
}
body #container form input[type=text] {
  width: 100px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
body #container form input[type=button] {
  margin-left: 30px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
body #container #result {
  margin: 50px;
  padding: 20px;
  width: 100%;
  border: 1px solid #ccc;
  line-height: 50px;
}
body #container #result .accent {
  font-size: 2.5rem;
  font-weight: bold;
}