.container {
  background: var(--light-color);
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 14px;
  box-shadow: 0 0 20px rgba(27, 113, 184, 0.2);
  .header {
    height: 60px;
    font: 600 1.8rem/60px "arial";
  }
  .main {
    padding: 10px;
  }
  .footer {
    padding: 20px 0;
    color: var(--gray-color);
    font-size: 1.2rem;
  }
}
